<div id="<%= dom_id trnpost %>">
  
<div class="bg-light p-2 text-dark bg-opacity-75">
    <p>
   <h2><u> #<%= trnpost.id %> - <%= trnpost.title %> </u></h2>
  </p>
  
  <p>
    <%= image_tag trnpost.image, class:"photo" %>
  </p>
<div class="bg-light p-2 text-dark bg-opacity-75">
 <p>
    <strong>Por:</strong>
    <%= trnpost.user.name %>
  </p>

  <p>
    <strong>Noticia:</strong>
    <%= trnpost.description %>
  </p>
  </div>
</div>
</div>
