<div id="<%= dom_id post %>">
  
<div class="bg-light p-2 text-dark bg-opacity-75">
    <p>
   <h2><u> #<%= post.id %> - <%= post.title %> </u></h2>
  </p>
  
  <p>
    <%= image_tag post.image, class:"photo" %>
  </p>

 <p>
    <strong>Por:</strong>
    <%= post.user.name %>
  </p>

  <p>
    <strong>Noticia:</strong>
    <%= post.description %>
  </p>
</div>
</div>
